<style type="text/css">
body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  background: #B97EBB;
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 150px 0px 200px;
}
.header .logo img{
    max-width: 100%;
}
.header .title h1 {
  font-size: 32px;
  line-height: 55px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-transform: uppercase;
  padding: 35px 0px 40px;
  letter-spacing: 1px;
}
.header .btn-demo {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  padding: 12px 0px;
  width: 200px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.header .btn-demo:hover {
    background: transparent;
    border-color: #ede2cb;
    color: #ede2cb;
}
.header .btn-demo + .btn-demo {
  margin-left: 20px;
}
</style>
<h1>dsad</h1>
<div class="header">
        <div class="header-top">
            <div class="logo"><h1 style="color: #fff">HI-GUYS</h1></a></div>
            <div class="title-page">
                <div class="title"><h1>Let's connect to the world. </h1></div>
                <a class="btn-demo" href="/sign_in">Log In</a>
                <a class="btn-demo" href="/sign_up">Sign Up</a>
            </div>
        </div> 
    </div>
</div>
<form method="GET" action="/user" id="name_form">
	
</form>
<script type="text/javascript">
	
</script>
