<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC0bAThBMWV6CegISuCMXX2HqjlCYu7Y28",
    authDomain: "chat-app-6e468.firebaseapp.com",
    databaseURL: "https://chat-app-6e468.firebaseio.com",
    projectId: "chat-app-6e468",
    storageBucket: "chat-app-6e468.appspot.com",
    messagingSenderId: "121813521575"
  };
  firebase.initializeApp(config);
</script>
<style>
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-size: cover;
  background-repeat: none;
}

.wrapper {
  /* position: relative; */
  left: 50%;
  /* width: 1000px; */
  height: 800px;
  /* -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); */
}

.container {
  /* position: relative; */
  top: 50%;
  left: 50%;
  width: 80%;
  height: 75%;
  background-color: #fff;
  padding-left: 0px!important;
  padding-right: 0px!important;
  margin-top: 20px;
  /* -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}
.container .left {
  float: left;
  width: 37.6%;
  height: 100%;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}
.container .left .top {
  position: relative;
  width: 100%;
  height: 96px;
  padding: 29px;
}
.container .left .top:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 80%;
  height: 1px;
  content: '';
  background-color: #e6e6e6;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.container .left input {
  float: left;
  width: 188px;
  height: 42px;
  padding: 0 15px;
  border: 1px solid #e6e6e6;
  background-color: #eceff1;
  -moz-border-radius: 21px;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
.container .left input:focus {
  outline: none;
}
.container .left a.search {
  display: block;
  float: left;
  width: 42px;
  height: 42px;
  margin-left: 10px;
  border: 1px solid #e6e6e6;
  background-color: #00b0ff;
  background-image: url("http://s11.postimg.org/dpuahewmn/name_type.png");
  background-repeat: no-repeat;
  background-position: top 12px left 14px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.container .left .people {
  margin-left: -1px;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  width: -moz-calc(100% + 2px);
  width: -webkit-calc(100% + 2px);
  width: -o-calc(100% + 2px);
  width: calc(100% + 2px);
}
.container .left .people .person {
  position: relative;
  width: 100%;
  padding: 12px 10% 16px;
  cursor: pointer;
  background-color: #fff;
}
.container .left .people .person:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 80%;
  height: 1px;
  content: '';
  background-color: #e6e6e6;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.container .left .people .person img,
.container .left .people .person i {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.container .left .people .person .name {
  font-size: 14px;
  line-height: 22px;
  color: #1a1a1a;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
.container .left .people .person .time {
  font-size: 14px;
  position: absolute;
  top: 16px;
  right: 10%;
  padding: 0 0 5px 5px;
  color: #999;
  background-color: #fff;
}
.container .left .people .person .preview {
  font-size: 14px;
  display: inline-block;
  overflow: hidden !important;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}
.container .left .people .person.active, .container .left .people .person:hover {
  margin-top: -1px;
  margin-left: -1px;
  padding-top: 13px;
  border: 0;
  background-color: #00b0ff;
  width: -moz-calc(100% + 2px);
  width: -webkit-calc(100% + 2px);
  width: -o-calc(100% + 2px);
  width: calc(100% + 2px);
  padding-left: -moz-calc(10% + 1px);
  padding-left: -webkit-calc(10% + 1px);
  padding-left: -o-calc(10% + 1px);
  padding-left: calc(10% + 1px);
}
.container .left .people .person.active span, .container .left .people .person:hover span {
  color: #fff;
  background: transparent;
}
.container .left .people .person.active:after, .container .left .people .person:hover:after {
  display: none;
}
.container .right {
  position: relative;
  float: left;
  width: 62.4%;
  height: 100%;
}
.container .right .top {
  width: 100%;
  height: 47px;
  padding: 15px 29px;
  background-color: #eceff1;
}
.container .right .top span {
  font-size: 15px;
  color: #999;
}
.container .right .top span .name {
  color: #1a1a1a;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
.container .right .chat {
  position: relative;
  display: none;
  overflow: hidden;
  padding: 0 35px 92px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #e6e6e6;
  height: -moz-calc(100% - 48px);
  height: -webkit-calc(100% - 48px);
  height: -o-calc(100% - 48px);
  height: calc(100% - 48px);
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.container .right .chat.active-chat {
  display: block;
  display: -webkit-flex;
  display: flex;
}
.container .right .chat.active-chat .bubble {
  -moz-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
  -o-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
  transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}
.container .right .chat.active-chat .bubble:nth-of-type(1) {
  -moz-animation-duration: 0.15s;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
}
.container .right .chat.active-chat .bubble:nth-of-type(2) {
  -moz-animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
.container .right .chat.active-chat .bubble:nth-of-type(3) {
  -moz-animation-duration: 0.45s;
  -webkit-animation-duration: 0.45s;
  animation-duration: 0.45s;
}
.container .right .chat.active-chat .bubble:nth-of-type(4) {
  -moz-animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}
.container .right .chat.active-chat .bubble:nth-of-type(5) {
  -moz-animation-duration: 0.75s;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}
.container .right .chat.active-chat .bubble:nth-of-type(6) {
  -moz-animation-duration: 0.9s;
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
}
.container .right .chat.active-chat .bubble:nth-of-type(7) {
  -moz-animation-duration: 1.05s;
  -webkit-animation-duration: 1.05s;
  animation-duration: 1.05s;
}
.container .right .chat.active-chat .bubble:nth-of-type(8) {
  -moz-animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
.container .right .chat.active-chat .bubble:nth-of-type(9) {
  -moz-animation-duration: 1.35s;
  -webkit-animation-duration: 1.35s;
  animation-duration: 1.35s;
}
.container .right .chat.active-chat .bubble:nth-of-type(10) {
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.container .right .write {
  position: absolute;
  bottom: 29px;
  left: 30px;
  height: 42px;
  padding-left: 8px;
  border: 1px solid #e6e6e6;
  background-color: #eceff1;
  width: -moz-calc(100% - 58px);
  width: -webkit-calc(100% - 58px);
  width: -o-calc(100% - 58px);
  width: calc(100% - 58px);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.container .right .write input {
  font-size: 16px;
  float: left;
  width: 347px;
  height: 40px;
  padding: 0 10px;
  color: #1a1a1a;
  border: 0;
  outline: none;
  background-color: #eceff1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
.container .right .bubble {
  font-size: 16px;
  position: relative;
  display: inline-block;
  clear: both;
  margin-bottom: 8px;
  padding: 13px 14px;
  vertical-align: top;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.container .right .bubble:before {
  position: absolute;
  top: 19px;
  display: block;
  width: 8px;
  height: 6px;
  content: '\00a0';
  -moz-transform: rotate(29deg) skew(-35deg);
  -ms-transform: rotate(29deg) skew(-35deg);
  -webkit-transform: rotate(29deg) skew(-35deg);
  transform: rotate(29deg) skew(-35deg);
}
.container .right .bubble.you {
  float: left;
  color: #fff;
  background-color: #00b0ff;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -moz-animation-name: slideFromLeft;
  -webkit-animation-name: slideFromLeft;
  animation-name: slideFromLeft;
}
.container .right .bubble.you:before {
  left: -3px;
  background-color: #00b0ff;
}
.container .right .bubble.me {
  float: right;
  color: #1a1a1a;
  background-color: #eceff1;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -moz-animation-name: slideFromRight;
  -webkit-animation-name: slideFromRight;
  animation-name: slideFromRight;
}
.container .right .bubble.me:before {
  right: -3px;
  background-color: #eceff1;
}
.container .right .conversation-start {
  position: relative;
  width: 100%;
  margin-bottom: 27px;
  text-align: center;
}
.container .right .conversation-start span {
  font-size: 14px;
  display: inline-block;
  color: #999;
}
.container .right .conversation-start span:before, .container .right .conversation-start span:after {
  position: absolute;
  top: 10px;
  display: inline-block;
  width: 30%;
  height: 1px;
  content: '';
  background-color: #e6e6e6;
}
.container .right .conversation-start span:before {
  left: 0;
}
.container .right .conversation-start span:after {
  right: 0;
}

@keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    margin-left: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-webkit-keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    margin-left: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@keyframes slideFromRight {
  0% {
    margin-right: -200px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    margin-right: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-webkit-keyframes slideFromRight {
  0% {
    margin-right: -200px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    margin-right: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
.credits {
  color: white;
  font-size: 11px;
  position: absolute;
  bottom: 10px;
  right: 15px;
}
.credits a {
  color: white;
  text-decoration: none;
}
.hide {
	display: none;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  position: absolute;
  right: 48%;
  top: 48%;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
.online {
  color: #7CFC00;
}
.public-email {
  font-size: 12px;
  color: #ccc;
}
</style>
<script src="/socket.io/socket.io.js"></script>
<script>
	var socket;
	var userName = "{{user_name}}";
	var emailId = "{{user_email}}";
	var initializeSocket = function(userElem) {
		socket = io();
		socket.emit('NEW_USER', {email:emailId,name:userName});

    socket.on('NEW_USER', function(res) {
      $('.time').html('<i class="fas fa-circle"></i>')
      for (var i in res) {
        try {
          var onlineUser = res[i].email;
        } catch(err) {  
          var onlineUser = "";
        }
        $('.person').each(function(e) {
          if ($(this).attr('data-chat') == onlineUser ) {
            $(this).find('.time').html('<i class="fas fa-circle online"></i>')
          }
        });
      }
    })

		socket.on('NUMBER_OF_USERS', function(numberOfUsers) {
			userElem.html("<b style='font-weight:600;color:#1a1a1a'>Number of users: "+numberOfUsers+"</b>");
		});
    
		socket.on('CHAT_MESSAGE_PUBLIC', function(res) {
			msg = res.msg.split(':');
  			var userName = msg[0];
  			var message  = msg[1];
  			if (socket.id == res.id) {
  				$('.right').find('.public').append("<div class='bubble me'>"+message+"</div>");
  			} else {
  				$('.right').find('.public').append("<div class='bubble you'><span style='font-weight:600'>"+userName+": </span>"+message+"<br/><span class='public-email'>"+res.email+"</span></div>");
  			}
		});
	}

	$(document).ready(function() {
		var userElem = $('.no_of_users');
		initializeSocket(userElem);

		$('#send_btn').on('click', function() {
			sendMessage();
		});
		$('body').on('keypress','#text_box', function(e) {
			if (e.keyCode == 13) sendMessage();
		});
	});
	var sendMessage = function() {
		var message = $('#text_box').val();
		if (message.trim() == '') return false;
		if ($('.people').find('.public').hasClass('active')) {
			socket.emit('CHAT_MESSAGE_PUBLIC', '{{user_name}}:' + message);
		} else {
      var currentdate = new Date(); 
      var datetime = currentdate.getDate() + "/"
                + (currentdate.getMonth()+1)  + "/" 
                + currentdate.getFullYear() + " @ "  
                + currentdate.getHours() + ":"  
                + currentdate.getMinutes() + ":" 
                + currentdate.getSeconds();
      var ref_m = firebase.database().ref().child('/message');
      var data = {};
      data.message = message;
      data.sender   = emailId;
      data.reciever = $('.person.active').attr('data-chat');
      data.reciever_name = $('.person.active').find('.name').text();
      data.sender_name = userName;
      data.time     =  datetime;
      ref_m.push(data);
		}
		$('#text_box').val('');
	};
</script>
<div class="loader hide">
  <div class="lds-ripple"><div></div><div></div></div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="left">
            <div class="top">
                <input type="text" id="search_people"/>
                <a href="javascript:;" class="search"></a>
            </div>
            <ul class="people">
            	<li class="person public" data-chat="public">
            		<img src="http://www.clker.com/cliparts/W/z/k/U/R/w/white-and-black-globe-hi.png" alt="" />
                    <span class="name">Public chat</span>
                    <span class="time"><i class="fas fa-globe"></i></span>
                    <span class="preview">Let's connect to the world...</span>
                </li>
            </ul>
        </div>
        <div class="right">
            <div class="top"><span>To: <span class="name">Public chat</span></span><span class="no_of_users" style="float: right;"></span></div>
            <div class="chat public" data-chat="public">
            </div>
            <div class="write">
                <input type="text" id="text_box"/>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    var ref_c = firebase.database().ref().child('/message');

    ref_c.on("child_added", function(res, prevChildKey) {
       var res = res.val();
        if (res.sender == emailId || res.reciever == emailId) {
          var reciever = res.reciever;
          var sender = res.sender;
          var other = (reciever == emailId) ? sender : ((sender == emailId) ? reciever : sender);
          var other_name = (reciever == emailId) ? res.sender_name : ((sender == emailId) ? res.reciever_name : res.sender_name);
          var newPerson = "<li class='person' data-chat='"+other+"'><img src='https://www.accountingweb.co.uk/sites/all/modules/custom/sm_pp_user_profile/img/default-user.png'/><span class='name'>"+other_name+"</span><span class='time'><i class='fas fa-circle'></i></span><span class='preview'>Let's Chat...</span></li>";
            var chatArea = "<div class='chat' data-chat='"+other+"'></div>";
          if ($('.person[data-chat="'+other+'"]').length < 1) {
            $('.people').append(newPerson);
            $('.right').append(chatArea);
          }
        }

        if (res.sender == emailId || res.reciever == emailId) {
          var msg = res.message;
          if (res.sender == emailId)  {
            $('.chat[data-chat="'+res.reciever+'"]').append('<div class="bubble me">'+msg+'</div>');
          } else {
            $('.chat[data-chat="'+res.sender+'"]').append('<div class="bubble you">'+msg+'</div>');
          }
        }
    });




    ref_c.once('value', function(res) {
      res = res.val();
      for (var i in res) {
        if (res[i].sender == emailId || res[i].reciever == emailId) {
          var reciever = res[i].reciever;
          var sender = res[i].sender;
          var other = (reciever == emailId) ? sender : ((sender == emailId) ? reciever : sender);
          var other_name = (reciever == emailId) ? res[i].sender_name : ((sender == emailId) ? res[i].reciever_name : res[i].sender_name);
          var newPerson = "<li class='person' data-chat='"+other+"'><img src='https://www.accountingweb.co.uk/sites/all/modules/custom/sm_pp_user_profile/img/default-user.png'/><span class='name'>"+other_name+"</span><span class='time'><i class='fas fa-circle'></i></span><span class='preview'>Let's Chat...</span></li>";
            var chatArea = "<div class='chat' data-chat='"+other+"'></div>";
          if ($('.person[data-chat="'+other+'"]').length < 1) {
            $('.people').append(newPerson);
            $('.right').append(chatArea);
          }
        }
      }

      /*insert messages*/
      for (var i in res) {
        if (res[i].sender == emailId || res[i].reciever == emailId) {
          var msg = res[i].message;
          if (res[i].sender == emailId)  {
            $('.chat[data-chat="'+res[i].reciever+'"]').append('<div class="bubble me">'+msg+'</div>');
          } else {
            $('.chat[data-chat="'+res[i].sender+'"]').append('<div class="bubble you">'+msg+'</div>');
          }
        } 
      }
    });
  });

	$('.chat[data-chat=public]').addClass('active-chat');
	$('.person[data-chat=public]').addClass('active');

$('body').on('mousedown', '.left .person', function(){
    if ($(this).hasClass('.active')) {
        return false;
    } else {
        var findChat = $(this).attr('data-chat');
        var personName = $(this).find('.name').text();
        if (personName == 'Public chat') {
        	$('.no_of_users').show();
        } else {
        	$('.no_of_users').hide();
        }
        $('.right .top .name').html(personName);
        $('.chat').removeClass('active-chat');
        $('.left .person').removeClass('active');
        $(this).addClass('active');
        $('.chat[data-chat = "'+findChat+'"]').addClass('active-chat');
        $('.write').remove();
        $('.right').append('<div class="write"><input type="text" id="text_box"/></div>');
    }
});
$('body').on('click','.search', function() {
  var email = $('#search_people').val();
  var userName = "";
  $('#search_people').val("");
  if (email != '') {
    $('.loader').show();
    var ref = firebase.database().ref().child('/user_profile');
    ref.once('value', function(res) {
      res = res.val();
      var isExists = false;
      for (var i in res) {
        if (res[i].email == email) {
          isExists = true;
          userName = res[i].first_name + " " + res[i].last_name;
          break;
        }
      }
      $('.loader').hide();
      if (!isExists) {
        swal("Ooops...!", "User does not exists.","error");
      } else {
        var newPerson = "<li class='person' data-chat='"+email+"'><img src='https://www.accountingweb.co.uk/sites/all/modules/custom/sm_pp_user_profile/img/default-user.png'/><span class='name'>"+userName+"</span><span class='time'><i class='fas fa-circle'></i></span><span class='preview'>Let's Chat...</span></li>";
         var chatArea = "<div class='chat' data-chat='"+email+"'></div>";
          if ($('.person[data-chat="'+email+'"]').length < 1) {
            $('.people').append(newPerson);
            $('.right').append(chatArea);
          }
      }

    });
  }
});
</script>